
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Elit Projects </title>
</head>
<body>
    <br>
    <div>
        <div style="padding: 10px; background-color: #000000; color: white;   text-align: center;"> 
            <h2>Elit Projects: Best Place For Projects</h2>
        </div>    
        <br>
        <div style="text-align: center;">
            <a
            style="display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            
            
            color: #fff;
            background-color: #000000;
            border-color: #000000;
            text-decoration: none;
            font-size: larger;"
            href="https://elitprojects.com/signup">Create Account</a>
            <br><br>
            
            <p style="text-align: center; font-size: 30px;"><a href="https://elitprojects.com/">ElitProjects</a> website provide two features 
                <b>Sell Projects</b> and
                <b>Buy Projects</b>
            </p>
            
        </div>
        
        <div style="padding: 10px; text-align: justify;">        
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Elit Projects is online platform to explore projects and to sell tech projects online, explore artificial intelligence, machine learning, data mining and other trending technologies on the platform.
            </p>
            <br><br>
            <p>
                &nbsp;&nbsp;&nbsp;
                • <b style="font-size: large;">
                    What's in for the Seller ? 
                </b><br>
                <p style="margin-left: 5%;">
                    - You can upload your Project on our Website and earn money the number of times they are bought !!
                    (*Note: You will receive money after <b> 25% </b>commission deduction )
                </p>
                
            </p>
            <br><br>
            <p>
                &nbsp;&nbsp;&nbsp;
                • <b style="font-size: large;">
                    If you are interested, 
                </b><br>
                <p style="margin-left: 5%;">
                    Please keep following things ready and upload them on <a href="https://elitprojects.com/" style="font-size: large; ">https://elitprojects.com/</a>  :
                    <br>
                    <br>
                    <b>
                        - Project Zip file 
                    </b>
                    (including all documentation - Reports, Synopsis, Review PPTs, etc)
                    <br><br>
                    <b>
                        - 5 Screenshots
                    </b>
                    showing Project Output
                    <br><br>
                    <!-- <b>
                       - 1 Video presentation
                    </b>
                    of working of the Project
                    <br><br> -->
                    <b>
                        - 1 Description Paragraph
                    </b>
                    explaining the Project Info
                </p>
                
            </p>

            <p>
                <br><br>
                &nbsp;&nbsp;&nbsp;
                • <b style="font-size: large;">
                    What's Next ?
                </b><br>
                <p style="margin-left: 5%; text-transform: capitalize;">
                    - After Uploading your project, it will be sent for <b>verification</b>  to check bugs and errors in the project files. also the documentation files would be verified.
                    <br>
                    <br>
                     if all checks out we will immediately upload your project in our database ready to be sold !! 
                </p>
                
            </p>
            
            
        </div>
        
        <div style="text-align: center;">
            <p>Create your account on <a href="https://elitprojects.com/">ElitProjects.com</a> and Sell your Projects now.</p>
            <a
            style="
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            
            
            color: #fff;
            background-color: #000000;
            text-decoration: none;
            font-size: larger;
            "
            href="http://elitprojects.com/">Elit Projects</a>
        </div>
        <br><br>
        
    </div>
</body>
</html>